
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer Diagnosis</title>
</head>
<body>
    <h1>Breast Cancer Diagnosis</h1>
    <form method="POST" enctype="multipart/form-data">
        <h4>Upload Report or X-ray (.csv / .jpg / .png)</h4>
        <input type="file" name="file" accept=".csv, .jpg, .jpeg, .png"><br><br>
        <button type="submit">Upload and Predict</button>
    </form>
    <hr>
    {% if result %}
        <h3>Result: {{ result }}</h3>
    {% endif %}
</body>
</html>
